<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Shrubs List</h2>
  <a
    routerLink="/shrubs"
    class="btn btn-success"

  >
    Add Shrubs
  </a>
</div>

<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
   
  </div>

  <div class="no-data text-center" *ngIf="noData">
   
    <p class="nodata-msg">No shrubs added yet!</p>
    
  </div>
  <div>
    <input type="text" [(ngModel)]="filterTerm" placeholder="search by tree name" class="form-control">
    <div *ngFor = "
    let shrub of Shrubs
    | filter:filterTerm" >
     
    </div>

  <div class="table-responsive" >
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
         
          <th scope="col">commonname</th>
          <th scope="col">Description</th>
          
          <th scope="col">Scientificname</th>
          <th scope="col">Season</th>
           <th scope="col">Treename</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let shrub of Shrubs
              | paginate: { itemsPerPage: 8, currentPage: p }| filter:filterTerm ;
            let i = index
          "
        >
          
          <td>{{ shrub.commonname }} </td>
          <td>{{ shrub.description }} </td>
          
          <td>{{ shrub.scientificname }}</td>
           <td>{{ shrub.season}}</td>
           <td>{{ shrub.treename}}</td>
          <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              
              routerLink="/edit-shrubs/{{shrub.$key}}"
              
              ><i class="fas fa-thin fa-pen"></i></span
            >
           
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deleteShrubs(shrub)"
              ><i class="fas fa-trash"></i></span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

