<!-- Top navigation -->
<div class="main">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
  <div class="maintitle">MCC BIODIVERSITY</div>


    
  </a>
  

</nav>

  
 <!-- Main content -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/herbs" routerLinkActive="active" >
              Herbs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shrubs" routerLinkActive="active" >
              Shrubs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/liana" routerLinkActive="active" >
              Liana
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tree" routerLinkActive="active" >
              Tree
            </a>
          </li>
          
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>  
   
    
  
</div>


  <div class="quotes" >
   <p>The word "flora" refers to the plants occurring within a given region as well as to the publication of scientific descriptions of those plants. In order to distinguish between the two, the word is often capitalized when a publication is meant. A Flora may contain anything from a simple list of the plants occurring in an area to a very detailed account of those plants. Floras are different from popular manuals in that they attempt to cover all of the plants, rather than only the most common or conspicuous ones.

    A Flora almost always contains scientific names, and it may also include common names, literature references

    </p>
   
  </div>
  <div class="video">
  
  </div>

