<!-- Top navigation -->
<div class="mains">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        
      <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <div style="display: flex;">
          <div class="image"><img [src]="imageSrc" style="width: 80px; height: 80px;"></div>
          <div class="maintitle" style="padding-top: 30px;">MCC BIODIVERSITY</div>
        
        </div>
    
    
        
      </a>
      
    
    </nav>
    
      
     <!-- Main content -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 50px;">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/butterfly" routerLinkActive="active" >
                  Butterflies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/birds" routerLinkActive="active" >
                 Birds
                </a>
              </li>
             
             
              
              
            </ul>
            <form class="d-flex">
              
            </form>
          </div>
        </div>
      </nav>  
       
        
      
    </div>
    
    
      <div class="quotes" >
       <p>Fauna are collectively referred to as biota. 
           Zoologists and paleontologists use fauna
            to refer to a typical collection of animals found in a specific time or plac.
            Fauna represents the animal life indigenous to a region.
            Flora and fauna are a part of the ecosystem and they are interdependent on each other 
            for their survival. Besides, the ecosystem becomes imbalanced if there are any adverse 
            effects on flora and fauna,
             such as an extinction of a species.
        </p>
       <p>
        Butterflies are insects in the macrolepidopteran clade Rhopalocera from the order Lepidoptera,
         which also includes moths.
         Adult butterflies have large, often brightly coloured wings, and conspicuous, fluttering flight. 
       </p>
       <p>
        Birds are a group of warm-blooded vertebrates constituting the class Aves /ˈeɪviːz/, characterised by feathers, toothless beaked jaws, the laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart,
         and a strong yet lightweight skeleton.
       </p>
      </div>
      <div class="video">
      
      </div>
    
    