<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Tree List</h2>
  <a
    routerLink="/tree"
    class="btn btn-success"

  >
    Add Tree
  </a>
  
</div>

<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
   
  </div>

  <div class="no-data text-center" *ngIf="noData">
   
    <p class="nodata-msg">No herbs added yet!</p>
    
  </div>
  <div>
    <input type="text" [(ngModel)]="filteritem" placeholder="search by tree name" class="form-control">
    <div *ngFor = "
    let tre of Tree
    | filter:filteritem" >
     
    </div>
  <div class="table-responsive" >
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          
          <th scope="col">commonname</th>
          <th scope="col">Description</th>
       
          <th scope="col">Scientificname</th>
          <th scope="col">Season</th>
           <th scope="col">Treename</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let tre of Tree
              | paginate: { itemsPerPage: 8, currentPage: p } | filter:filteritem;
            let i = index
          "
        >
          
          <td>{{ tre.commonname }} </td>
          <td>{{ tre.description }} </td>
          
          <td>{{ tre.scientificname }}</td>
           <td>{{ tre.season}}</td>
           <td>{{ tre.treename}}</td>
          <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              routerLink="/edit-tree/{{tre.$key}}"
              ><i class="fas fa-thin fa-pen"></i></span
            >
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deleteTree(tre)"
              ><i class="fas fa-trash"></i></span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

